@using FruitsTraceabilitySystem.Application.ViewModels.Products
@model IEnumerable<ProductViewModel>


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Product List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Created" class="btn btn-primary"><i class="far fa-plus-circle"></i> &nbsp; New Product</a>
        </div>
    </div>
</div>
<br/>
<br/>
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Product Name
            </th>
             <th>
                Product Quantity
            </th>
             <th>
                Product Category
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var product in Model)
        {
            <tr>
                <td width="35%">
                    @product.Name
                </td> 
                <td width="30%">
                    @product.Quantity
                </td> 
                <td width="20%">
                    @product.Category.Name
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Product" class="btn btn-primary mx-2" asp-route-id="@product.Id" asp-action="Edit"><i class="fad fa-file-edit"></i></a>
                        <a asp-controller="Product" class="btn btn-danger mx-2" asp-route-id="@product.Id" asp-action="Delete"><i class="fad fa-trash-alt"></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>